body {
    font-family: Arial, sans-serif;
  }
  
  .gallery {
    margin-top: 50px;
  }
  
  .image-container {
    overflow: hidden;
    position: relative;
  }
  
  .image-container img {
    width: 100%;
    height: auto;
    transition: transform 0.3s ease-in-out;
  }
  
  .image-container img:hover {
    transform: scale(1.1);
  }
  